asgiref==3.4.1
autopep8==1.6.0
click==8.0.3
colorama==0.4.4
Django==4.0
django-environ==0.8.1
joblib==1.1.0
nltk==3.6.6
numpy==1.21.5
opencv-python==4.5.4.60
Pillow==9.0.1
pycodestyle==2.8.0
pytesseract==0.3.8
regex==2021.11.10
sqlparse==0.4.2
toml==0.10.2
tqdm==4.62.3
tzdata==2021.5
